body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #f3f6f8;
  font-family: "Open Sans", Arial, sans-serif;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.cart {
  width: 400px;
  padding: 50px;
  border-radius: 5%;
  text-align: center;

  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: #f5f5f5;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}
.links {
  display: flex;
  gap: 40px;
}
.links a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
}
