body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  height: 100vh;
  font-family: "Open Sans", Arial, sans-serif;
  background-color: #f3f6f8;
}

.container {
  display: block;
  width: 400px;
  margin: 0 auto;
  background-color: #f5f5f5;
  width: 400px;
  padding: 40px;
  border-radius: 5%;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  /* margin-top: 40px; */
}
.card {
  text-align: center;
}
#addCart {
  padding: 15px;
  border: none;
  background-color: #28a745;
  color: white;
  cursor: pointer;
}
#add-cart:hover {
  background-color: #34d058;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}
button {
  cursor: pointer;
}
#cartCount {
  cursor: pointer;
}
