body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  display: grid;
  place-items: center;
  height: 100vh;
  font-family: "Open Sans", Arial, sans-serif;
}

.container {
  display: block;
  width: 400px;
  margin: 0 auto;
  background-color: #f5f5f5;
  width: 400px;
  padding: 40px;
  border-radius: 5%;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.card {
  text-align: center;
}

