body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  display: grid;
  place-items: center;
  height: 100vh;
}

.container {
  display: block;
  width: 400px;
  margin: 0 auto;
  background-color: #f5f5f5;
  width: 400px;
  padding: 40px;
  border-radius: 5%;
  text-align: center;
}
.card {
  text-align: center;
}
